<div class="modal-header">
    <h3 class="modal-title">Edit project title</h3>
</div>
<div class="modal-body">
	<div ng-if="config.type == 'edit-title'">
		<input type="text" class="form-control" ng-model="data.projectTitle" />
	</div>
	<div ng-if="config.type == 'set-cover'">
		<input type="text" class="form-control" ng-model="data.projectTitle" />
		<div class="cover-thumb" ng-style="{'background-image':'url('+data.cover+')'}" ng-if="data.cover">
		</div>
		<button type="button" class="btn btn-default" ng-file-select ng-file-change="setCoverImage($files, $event)">button</button>
	</div>
	<div ng-if="config.type == 'set-settings'">
		<div class="col-md-6">
		    <div class="form-group">
		      	<label for="creative">Creative Fields</label>
		      	<input class="form-control" id="creative" ng-model="data.creativeFields"/>
		    </div>
		    <div class="form-group">
		      	<label for="tags">Project Tags</label>
		      	<input class="form-control" id="tags" ng-model="data.tags"/>
		    </div>
		    <div class="form-group">
		      	<label for="description">Project Description</label>
		      	<textarea class="form-control" rows="5" id="description" ng-model="data.description"></textarea>
		    </div>
		</div>
		<div class="col-md-6"></div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>